# Supermarket Store Analysis
    
    
  ### By: Reuben Trabi  
  
  
  
 ### Link to dataset : https://www.kaggle.com/datasets/surajjha101/stores-area-and-sales-data

In [48]:
import pandas as pd

In [8]:
pd.read_csv("C:\\Users\coolb\Stores.csv")

     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0            1        1659             1961                   530        66490
1            2        1461             1752                   210        39820
2            3        1340             1609                   720        54010
3            4        1451             1748                   620        53730
4            5        1770             2111                   450        46620
..         ...         ...              ...                   ...          ...
891        892        1582             1910                  1080        66390
892        893        1387             1663                   850        82080
893        894        1200             1436                  1060        76440
894        895        1299             1560                   770        96610
895        896        1174             1429                  1110        54340

[896 rows x 5 columns]

In [9]:
store = pd.read_csv("C:\\Users\coolb\Stores.csv")

In [10]:
store.head(10)

   Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1        1659             1961                   530        66490
1          2        1461             1752                   210        39820
2          3        1340             1609                   720        54010
3          4        1451             1748                   620        53730
4          5        1770             2111                   450        46620
5          6        1442             1733                   760        45260
6          7        1542             1858                  1030        72240
7          8        1261             1507                  1020        37720
8          9        1090             1321                   680        46310
9         10        1030             1235                  1130        44150

In [11]:
print(store.shape) ##There are 896 rows and 5 colums in the data set.

(896, 5)

In [12]:
print(store.info)

<bound method DataFrame.info of      Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0            1        1659             1961                   530        66490
1            2        1461             1752                   210        39820
2            3        1340             1609                   720        54010
3            4        1451             1748                   620        53730
4            5        1770             2111                   450        46620
..         ...         ...              ...                   ...          ...
891        892        1582             1910                  1080        66390
892        893        1387             1663                   850        82080
893        894        1200             1436                  1060        76440
894        895        1299             1560                   770        96610
895        896        1174             1429                  1110        54340

[896 rows x 5 columns]>

In [13]:
##What is the average amount of customers is: 786

In [24]:
store["Daily_Customer_Count"].mean()

786.3504464285714

In [21]:
##The highest amount of daily customers in the store is
store["Daily_Customer_Count"].max()

1560

In [22]:
##The lowest amount of daily customers in the store is:10

In [23]:
store["Daily_Customer_Count"].min()

10

In [26]:
store[store["Daily_Customer_Count"]==store["Daily_Customer_Count"].max()]
##Store ID 849 is the most popular store  out of all of the stores.

     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
848        849         919             1099                  1560        73810

In [31]:
store["Store_Sales"].max()

116320

In [32]:
##Store 849 has the highest amount of customers but have a deficit in sales and stock.

In [33]:
store["Items_Available"].max()

2667

In [46]:
store_items_sales = store.sort_values(['Items_Available','Store_Sales'], ascending = [False,False])

In [47]:
print(store_items_sales)

     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
466        467        2229             2667                   660        87410
540        541        2214             2647                   740        65900
91          92        2169             2617                   600        67080
398        399        2063             2493                   810        51480
849        850        2067             2492                   790        70230
..         ...         ...              ...                   ...          ...
406        407         896             1059                   870        75110
549        550         869             1050                   850        52540
744        745         854             1018                   660        77740
865        866         780              951                   790        25600
158        159         775              932                  1090        42530

[896 rows x 5 columns]

In [53]:
## There is a positive correlation between the available stock of items available and sales.

In [51]:
store_customers_sales = store.sort_values(['Daily_Customer_Count','Store_Sales'], ascending = [False,False])

In [52]:
print(store_customers_sales)

     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
848        849         919             1099                  1560        73810
349        350        1886             2228                  1530        40350
535        536        1057             1262                  1490        35420
94          95        1921             2305                  1470        77120
312        313        1494             1806                  1450        43640
..         ...         ...              ...                   ...          ...
146        147        1442             1750                   130        58920
230        231        1347             1628                   120        72350
876        877        1259             1493                   100        88270
151        152        1662             1986                    70        63730
39          40        1270             1516                    10        45480

[896 rows x 5 columns]

In [54]:
## Some of the stores with the most customers  have low sales such as Store ID's: 350 and 536.